---
layout: project
title: Learn
---

.row-fluid
  .hero-unit
    %h1 Learn about ModeShape
    %p Distributed, hierarchical, transactional and consistent data store

  %h2
  .row-fluid#equalHeightsB
    .well.span6
      %i.enormous-icon.icon-question-sign.pull-left.icon-2x
      %h3 What is it?
      %p 
      TODO
    .span6
      %i.enormous-icon.icon-beaker.pull-left.icon-2x
      %h3 How do I use it?
      %p 
        TODO
  .row-fluid
    .span6
      %i.enormous-icon.icon-dashboard.pull-left.icon-2x
      %h3 Why would I use it?
      %p
        TODO
      %i.enormous-icon.icon-book.pull-left.icon-2x
      %h3 Where can I learn more?
      %p 
        Visit the
        %a{:href => "/documentation"}Documentation section
        of this website.
      %p
        %a.btn.btn-primary{:href => "/documentation", :role => "button"}
          %i.icon-book.pull-left
          Learn more ModeShape

    .span6
      %i.enormous-icon.icon-exchange.pull-left.icon-2x
      %h3 What about transactions?
      %p
        TODO
      %p
      %i.enormous-icon.icon-search.pull-left.icon-2x
      %h3 Can I perform searches?
      %p
        TODO

  %h2 Standards
  .row-fluid#equalHeightsB
    .well.span6
      %h3 JSR 283
      %p
        %a{:href=>"http://www.jcp.org/en/jsr/detail?id=283"} JSR 283
        (Content Repository for JavaTM Technology API Version 2.0)