---
layout: project
title: Get Involved
---

.row-fluid
  .hero-unit
    %h1 Getting Involved
    %p How to contribute

  .row-fluid
    .span6
      %h2 Yup, we're open.
      As an open-source project, the ModeShape community has many entry points.
      We welcome your participation however it suits your level of interest.
      %br
      %br
      ModeShape is a 100% open source project.
      This means that not only is the code open source, free to use and free to modify, the development process too is open.
      Mode engineers are available on public IRC channels, hold weekly team meetings in the public, publish design documents and roadmaps to public wikis.
      And this is where you can get involved.

    .span6
      %h2 Everything is on-line
      %p
        Our code is on-line, so is our continuous integration and bug tracker, team meetings are held in public chat rooms, developer discussion mailing lists are public and so are our design wikis.
        It's easy to get involved - just meet one of the core engineers on IRC and say hello.
        Or read 
        %a{:href => "https://community.jboss.org/wiki/ModeShapeDevelopmentWorkflow", :target => "_NEW"}this document.
      %p
        %i.icon-github
        %a{:href => "https://github.com/modeshape", :target => "_NEW"}Code on GitHub
        %br
        %i.icon-bolt 
        %a{:href => "https://jira.jboss.org/browse/MODE", :target => "_NEW"}Public issue tracker
        %br
        %i.icon-comments
        %a{:href => "irc://irc.freenode.net/modeshape"}Team meetings and live conversations on IRC
        %br
        %i.icon-user
        %a{:href => "https://community.jboss.org/en/modeshape", :target => "_NEW"} Community
  .row-fluid
    .span6
      %h2 Project statistics
      %script{:type => "text/javascript", :src => "http://www.ohloh.net/p/modeshape/widgets/project_factoids_stats.js"}

    .span6
      %h2 Want to talk to us?
      The ModeShape community is on-line, geographically distributed, and communicate in a number of ways.
      Visit our 
      %a{:href=>"/community"}community page
      for more information.      
  %hr

  %h2 Disclosure
  %p
    We'd like to make clear how this project works and who holds what responsibilities.
    We want everyone involved to understand how decisions are made and where they can contribute.
    TODO
  %h3 Stewardship
  %p
    This project is developed and released by Red Hat with assistance from the Java developer community.
    The project lead is appointed by Red Hat, and has the power to accept and reject contributions to the project and set the roadmap.
    Red Hat employees assigned to work on ModeShape as well as community contributors, in this regard, all answer to the project lead.
    TODO
  %p
    The best way for you to suggest requirements for a future release of ModeShape is to enter a feature request in JIRA.

  %h3 Release Cycle
  %p
    TODO
  %h3 Contribution
  %p
    ModeShape welcomes, thrives on and greatly values community contribution, and makes the barto contributing as low as possible.
    If you have any questions on contributing, join us on
    %a{:href => "/community"}IRC
    and speak to a member of the ModeShape team.
  %p
    You are advised to read up on the 
    %a{:href => "https://community.jboss.org/wiki/ModeShapeDevelopmentWorkflow"} ModeShape Development Workflow
    page in our documentation before contributing.
    It contains hints and tips on how to write code that will maximize chances for acceptance into the project
