---
layout: base
body_class: home
---

%header.jumbotron.masthead#overview
  .container
    %h1 ModeShape
    %p
      A hierarchical database. Fast. Scalable. 
      %br
      Distributed. Dynamic schemas. Queries. 
      %br
      And lots more.
      //Fast and scalable distributed store for hierarchical data with dynamic schemas, queries, transactions, references, events, and more.
      //%br
      // Fast and scalable distributed storage for hierarchical data with dynamic schemas, queries, transactions, events, and more.
      // with transactions, queries, search, events and versioning.
      // Fast and scalable distributed database for hierarchical data 
      // with transactions, queries, search, events and versioning.
    %a.btn.btn-primary.btn-large{ :href=>"#{site.downloads_url}#{site.version}/modeshape-#{site.version}-dist.zip" } Download ModeShape #{site.version}
    %ul.masthead-links
      %li
        %a{ :href=>"/docs/getting_started#maven" } Use with Maven
      %li
        %a{ :href=>"/download/" } Other versions
      %li
        %a{ :href=>"/tools/" } Tools for Eclipse
  .github-banner
    %a{:href=>"https://github.com/ModeShape/modeshape"}
      %img{:style=>"position: absolute; top: 0; right: 0; border: 0;z-index: 900;",
        :src=>"https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png",
        :alt=>"Fork me on GitHub"}
.container
  %p.question What's been happening lately?
.container
