%footer.container
  .row-fluid
    .span2.offset2
      %h4 Navigate
      %ul
        %li
          %a{:href => "/about", :title => "About"} About
        %li
          %a{:href => "/documentation", :title => "Docs"} Docs
        %li
          %a{:href => "/community", :title => "Community"} Community
        %li
          %a{:href => "/getinvolved", :title => "Get Involved"} Get Involved
        %li
          %a{:href => "/download", :title => "Download"} Download

    .span2
      %h4 Contribute
      %ul
        %li
          %a{:href => "https://issues.jboss.org/browse/MODE", :title => "Submit a bug"} Submit a bug
        %li
          %a{:href => "https://github.com/modeshape", :title => "Write code"} Write Code

    .span2
      %h4 Follow Us
      %ul
        %li
          %a{:href => "http://modeshape.wordpress.com/", :title => "Blog"} Blog
        %li
          %a{:href => "http://twitter.com/modeshape", :title => "Twitter"} Twitter

    .span2
      %h4 Open Source
      %p 
        ModeShape is released under the
        %b Apache 2.0 open source license.
        Learn more about the Apache 2.0 license 
        %a{:href => "http://www.apache.org/licenses/LICENSE-2.0"}here.
      %p
      .jbossbadge
        %a{:href => "http://www.jboss.org/"}
          %img{:src => "https://static.jboss.org/theme/images/common/jbossbadge.png"}/
  .span10
    %p{:style => "margin-top: 5px; font-size: 80%;"}
      © Copyright 2009-2013 Red Hat, Inc.
      %br
      %i.icon-fire
      Made with
      %a{:href => "https://github.com/jbossorg/bootstrap-community", :style=>"text-decoration: underline;", :target=> "_NEW"}JBoss Community Bootstrap
      and
      %a{:href => "http://awestruct.org/", :style=>"text-decoration: underline;", :target=> "_NEW"}Awestruct
      %br
      %i.icon-globe
      This website is open source! If you want to improve it, 
      %a{:href => "https://github.com/ModeShape/modeshape.github.com", :style=>"text-decoration: underline;", :target=> "_NEW"}fork the project,
      and hack on it, then send a pull request. You can also view the
      %a{:href => "http://www.seethestats.com/site/infinispan.org", :style=>"text-decoration: underline;", :target=> "_NEW"}visitor stats.
      %br
      %i.icon-share
      Website and documentation released under
      %a{:href => "http://creativecommons.org/licenses/by/3.0/", :style=>"text-decoration: underline;", :target=> "_NEW"}CC BY 3.0.
    

