%i.icon-cloud-download.icon-2x.pull-left
%h3 Maven
%p 
  Prefer to use
  %a{:href=>"http://maven.apache.org", :target=>"_NEW"} Maven
  in your project? We sure do!
%p
  %a.btn.btn-primary{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Maven Instructions
  #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h4#myModalLabel Maven Instructions
    .modal-body
      %p
        ModeShape artifacts are available on
        %a{:href => "http://search.maven.org", :target=>"_NEW"}Maven Central.
      %p
        If you wish to search for historical releases of ModeShape on Maven Central, you can search for the artifact you are looking for on Maven Central's
        %a{:href => "http://search.maven.org", :target=>"_NEW"}search interface.
      %p
        If you are looking for a comprehensive list of all ModeShape artifacts and their respective versions, use the
        %a{:href => "http://search.maven.org/#search|ga|1|g%3A%22org.modeshape%22", :target=>"_NEW"}advanced search interface
        and look for group id
        %code org.modeshape
      .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
%hr

= partial("rightcol-docs.html.haml")