//Palette, colors mostly go from light shades to dark shades within categories

//Mono
$palette_white: rgb(255,255,255);
$palette_white_20trans: rgba(255,255,255,.8);
$palette_white_50trans: rgba(255,255,255,.5);
$palette_white_80trans: rgba(255,255,255,.2);
$palette_5gray: rgba(247,247,247,1); //guide gradient bkg
$palette_9gray: rgba(238,238,238,1); //from bootstrap, code border color
$palette_10gray: rgba(230,230,230,1);
$palette_11gray: rgba(229,229,229,1); //from bootstrap hardcode, nav divider bkg
$palette_12gray: rgba(221,221,221,1); //from bootstrap hardcode, tab border
$palette_20gray: rgba(204,204,204,1);
$palette_25gray: rgba(197,197,197,1); //guide icon
$palette_26gray: rgba(193,193,193,1); //from bootstrap, code border color
$palette_30gray: rgba(179,179,179,1);
$palette_40gray: rgba(153,153,153,1);
$palette_50gray: rgba(128,128,128,1);
$palette_50gray_20trans: rgba(128,128,128,.8);
$palette_50gray_50trans: rgba(128,128,128,.5);
$palette_50gray_80trans: rgba(128,128,128,.2);
$palette_60gray: rgba(102,102,102,1);
$palette_70gray: rgba(77,77,77,1);
$palette_80gray: rgba(51,51,51,1); //default font color
$palette_90gray: rgba(26,26,26,1);
$palette_black: rgb(0,0,0);
$palette_black_20trans: rgba(0,0,0,.8);
$palette_black_50trans: rgba(0,0,0,.5);
$palette_black_80trans: rgba(0,0,0,.2);

$palette_modeshape_grey: rgba(110,115,130,1);
$palette_modeshape_blue: rgba(2,0,50,1);

$jumbotron_lower_color: $palette_modeshape_blue;
$jumbotron_upper_color: $palette_modeshape_grey;
$jumbotron_color_angle: 45deg;

$toc_radius: 12px;

$footer_base_color: $palette_10gray;
$footer_text_color: $palette_70gray;
$footer_header_color: $palette_80gray;

// Font family settings
$default_font_family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$header_font_family: $default_font_family;
$nav_font_family: $header_font_family;
$banner_font_family: $header_font_family;
$button_font_family: $header_font_family;

$banner_font_family: $default_font_family;


// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles ...
@import "bootstrap-responsive";

@import "compass/reset/utilities"; // provides reset mixins like reset-focus
@import "compass/utilities/sprites"; // provides sprites mixins
// NOTE Compass CSS3 will override the following bootstrap mixins:
//      border-radius, box-shadow, transition, background-size, background-clip
@import "compass/css3"; // provides generation of experimental CSS properties
@import "blueprint/link-icons"; // provides icons for known mime-types

