// Include partials ...
@import "partials/base";
@import "partials/addons";


/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: $jumbotron_lower_color; /* Old browsers */
  background: -moz-linear-gradient($jumbotron_color_angle,  $jumbotron_lower_color 0%, $jumbotron_upper_color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$jumbotron_lower_color), color-stop(100%,$jumbotron_upper_color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient($jumbotron_color_angle,  $jumbotron_lower_color 0%,$jumbotron_upper_color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient($jumbotron_color_angle,  $jumbotron_lower_color 0%,$jumbotron_upper_color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient($jumbotron_color_angle,  $jumbotron_lower_color 0%,$jumbotron_upper_color 100%); /* IE10+ */
  background: linear-gradient($jumbotron_color_angle,  $jumbotron_lower_color 0%,$jumbotron_upper_color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$jumbotron_lower_color', endColorstr='$jumbotron_upper_color',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 20px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 14px 24px;
  font-size: 20px;
  font-weight: 175;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}


/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: image-url("masthead-pattern.png") repeat center center;
  opacity: .4;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Masthead (home)
------------------------- */
.masthead {
  padding: 30px 0 0px;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 30px;
  font-weight: 175;
  line-height: 1.25;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Textual links in masthead */
.masthead-links {
  margin: 20px 0px 20px;
  list-style: none;
}
.masthead-links li {
  font-size: 16px;
  display: inline;
  padding: 0 25px;
  color: rgba(255,255,255,.15);
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 0px;
}
.subhead .navbar {
  display: none;
}

p {
  margin: 0 0 10px;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

/* Table of contents
------------------------- */

.toc {
  width: 200px;
  font-size: 18px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: -10px;
  background-color: #fff;
  -webkit-border-radius: $toc_radius;
     -moz-border-radius: $toc_radius;
          border-radius: $toc_radius;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.65);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.65);
          box-shadow: 0 1px 4px rgba(0,0,0,.65);
}

.toc > li > a {
  padding: 10px 5px 10px 15px;
  border: 1px solid #e5e5e5;
}

.toc > li:first-child > a {
  -webkit-border-radius: $toc_radius $toc_radius 0 0;
     -moz-border-radius: $toc_radius $toc_radius 0 0;
          border-radius: $toc_radius $toc_radius 0 0;
}
.toc > li:last-child > a {
  -webkit-border-radius: 0 0 $toc_radius $toc_radius;
     -moz-border-radius: 0 0 $toc_radius $toc_radius;
          border-radius: 0 0 $toc_radius $toc_radius;
}
.toc > li:last-child > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}

.toc.affix {
  top: 40px;
  width: 200px;
}

.toc.affix-top {
}
.toc.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.section {
  padding-top: 30px;
}

.page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 40px;
}

/* Content
------------------------- */

.marketing {
  text-align: center;
  color: $marketing_text_color;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.marketing h1 {
  font-size: 60px;
  font-weight: 200;
  line-height: 1.15;
}

.marketing h2 {
  font-size: 35px;
  font-weight: 200;
  line-height: 1.5;
}

.marketing p {
  padding: 0px 20px 5px 20px;
  font-size: 18px;
  line-height: 1.5;
}

.marketing .btn {
  //padding: 14px 24px;
  font-size: 24px;
  font-weight: 175;
}

// Top banner and navigation section

.navbar-fixed-top {
  height: 50px;
  a.brand {
    font-family: $banner_font_family;
    font-size: 1.8em;
    line-height: 1em;
    //.logo {
    //  display: block;
    //  float: left;
    //}
  }
  .nav-collapse {
    @include offset(3);
  }
  .nav li {
    font-family: $banner_font_family;
    font-size: 1.1em;
  }
}

@media (min-width: 980px) {
  .navbar-fixed-top {
    height: 50px;
    .navbar-inner {
      min-height: 50px;
    }
    a.brand {
      padding-top: 10px;
      @include single-transition(color, .8s, ease, .05s);
      &:hover {
        color: $navbarLinkColorHover; 
      }
      //.logo {
      //  @include square(32px);
      //  background-image: image-url("modeshape-icon-32px.png");
      //}
      .name {
        display: block;
        float: left;
      }
    }
    .nav {
      padding-top: 5px;
      white-space: nowrap;
    }
  }
  .jumbotron {
    margin-top: -10px;
    margin-right: 0px;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
}

// Footer section

footer {
  background-color: $footer_base_color;
  color: $footer_text_color;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  border-top-color: $palette_20gray;
  border-top-style: solid;
  border-top-width: 1px;
  p {
    font-size: 1.1em;
    &.image {
      margin-bottom: 0.5em;
    }
  }
  .container {
    .project {
      img {
        margin: 30px 0 1em 0;
      }
      p {
        margin-top: 30px;
      }
    }
    a {
      //color: $footer_link_color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    h4 {
      // may not need margin/weight overrides
      margin-bottom: .5em;
      font-weight: bold;
      color: $footer_header_color;
    }
    .footer-nav {
      @include span(2);
      ul {
        @extend .unstyled;
        font-size: 0.9em;
        margin-bottom: 1em;
      }
    }
    .sponser {
      img.branding {
        @include geometry(254px, 50px);
        //background-color: $branding_background_color;
        padding: 5px;
        @include border-radius(4px);
      }
    }
  }
}

// Main content section of page

#main {
  // NOTE must be equal to header size (variable perhaps?)
  // QUESTION should we use body { padding-top: 49px; } instead??
  //margin-top: 49px;
}

// navbar collapses under 980px
@media (max-width: 979px) {
  .navbar-fixed-top {
    height: auto;
    margin-bottom: 0;
    a.brand {
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 4px;
      //.logo {
      //  @include square(32px);
      //  background-image: image-url("arquillian-icon-xs.png");
      //}
      .name {
        display: none;
      }
    }
    .nav-collapse {
      margin-left: 0;
    }
    .nav {
      padding-left: 10px;
    }
  }
  body.home  {
    height: auto;
    overflow: visible;
  }
  .toc {
    width: 150px;
  }
  .toc.affix {
    width: 150px;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  footer {
    margin-right: -20px;
  }
}


@media (max-width: 767px) {
  .navbar-fixed-top {
    height: auto;
    margin-bottom: 0;
    a.brand {
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 4px;
      //.logo {
      //  @include square(32px);
      //  background-image: image-url("arquillian-icon-xs.png");
      //}
      .name {
        display: none;
      }
    }
    .nav-collapse {
      margin-left: 0;
    }
  }
  .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
  }
  .masthead h1 {
    font-size: 80px;
    line-height: 1;
  }
  .masthead p {
    font-size: 25px;
    font-weight: 120;
    line-height: 1.25;
    letter-spacing: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .masthead .btn {
    padding: 10px 20px;
    font-size: 18px;
  }
  .subhead > .container {
    padding-left: 20px;
  }
  body.home  {
    height: auto;
    overflow: visible;
  }
  .toc.affix {
    position: static;
    width: auto;
    top: 0;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .navbar-fixed-top {
    height: auto;
    margin-bottom: 0;
    a.brand {
      padding-left: 20px;
      padding-top: 5px;
      padding-bottom: 4px;
      //.logo {
      //  @include square(32px);
      //  background-image: image-url("arquillian-icon-xs.png");
      //}
      .name {
        display: none;
      }
    }
    .nav-collapse {
      margin-left: 0;
    }
  }
  .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
  }
  .masthead {
    padding: 40px 0 30px;
  }
  .masthead h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    margin-bottom: 10px;
  }
  .masthead p {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.25;
    letter-spacing: 1px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .masthead .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  .masthead-links li {
    font-size: 14px;
    padding: 0 10px;
  }
  .subhead > .container {
    padding-left: 20px;
  }
  .toc.affix {
    position: static;
    width: auto;
    top: 0;
  }
  body.home  {
    height: auto;
    overflow: visible;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
  }
}


